/*common*/
body {  
    
    background-color: rgb(26, 26, 26);
    color : whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
    max-width: 1000px;
    margin: auto;
    font-size: 30px;
 
}
a{ 
    color:orange;
}
div h1,h2{
    color: orange;
}

.heading{ 
    
    font-size: 120px;
    border-style: dotted;
    background-color: black;
    color: orange;
    
}
img{
    border-style: solid;
    border-color: black;
    border-width: 10px;

}
    

/*Home*/

#h-heading{
 padding-left: 65px;
 padding-top: 10px;
}
  
img.home{
    margin: 40px;
    width: 950px;
    box-sizing: border-box;
    border-radius: 50%;
}
.home-sub-h{
     width: 1000px;
    font-size: 70px; 
    text-decoration: underline;
      color: orange
    }


.home-li{
  margin: 0 auto;
    color: orange;
}



/*Lasagna page*/

#l-heading{
    padding-left: 250px ;
    padding-bottom: 20px;
    box-sizing: border-box;
}


.l-pic{
    margin-right: 10px; 
    float: left;
    width: 600px;
    height: 400px;
    border-radius: 10%;
}


/*Brownies*/

#b-heading{ 
   
    box-sizing: border-box;
    text-align: center;
}

.b-img{
    border-radius: 100%;
    margin: 50px 0px 30px 70px;
}

#b-img-box{
    text-align: center;
    width: 900px;
   
}
/*Drink*/

#d-heading{ font-size: 80px;
    width: 1400px;
    text-align: center;
    margin-left: -200px;
    
   
}

.d-img{
    border-radius: 20%;
    padding-left: -500px;
}

#d-img-box{
    width: 900px;
    text-align: center;
    margin: 50px 0 20px 20px;
}

