body {
    background-color: rgb(41, 38, 38);
    color : whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
 
}
div{
   
    width: auto;
    background-color: rgba(226, 186, 186, 0);
    
}



div h1,h2{
    text-align: left;
    color:rgb(224, 172, 0)
}

a{
    color:orange;
}